* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(180deg, #c4d7d86b 0%, #54966c52 100%);
}

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: #e5eded;
}

 ::-webkit-scrollbar-thumb {
    background: #052e30ed;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(96, 219, 148);
}


/* preloader */

#preloader {
    background: #e6eeee url(load2.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10010;
}


/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=IBM+Plex+Sans+Arabic:wght@200;300&family=Licorice&family=The+Nautigal&display=swap');
.header {
    background-color: rgb(5 46 48 / 77%);
    color: white;
    padding: 10px;
    display: flex;
}

.logo {
    width: auto;
    padding: 5px;
    font-size: 38px;
    font-weight: 600;
    position: relative;
    text-shadow: 7px 3px #787878;
}

.small {
    position: absolute;
    font-size: 8PX;
    top: 41px;
    left: 94px;
}

.menu {
    margin: auto;
    text-align: center;
}

.menus {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_btn {
    margin: 10px 10px;
    padding-bottom: 5px;
    transition: .2s linear;
}

a {
    color: aliceblue;
    text-decoration: none;
    transition: .2s linear;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    color: #8ccdc8;
}

.menu_btn:hover {
    background-color: #052e3036;
    border-bottom: 3px solid #dfe7e9;
}

.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px 2px rgb(231 220 220 / 49%);
    font-size: 20px;
    margin-right: 10px;
    background-color: #25d366a3;
    border: 1px solid white;
    border-radius: 50px;
    transition: .5s linear;
}

.text {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.whats:hover {
    color: green;
}

.whatsapp:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 4px 1px rgba(231 220 220 / 49%);
}


/* MAIN PART OF THE WEBSITE */

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.inermain1 {
    padding: 50px 30px 36px 1px;
    margin: 10px 21px 31px 0px;
    width: 47vw;
}

.webimg {
    width: 100%;
    transition: .5s linear;
}

.webimg:hover {
    transform: scale(1.2);
}

.custom {
    font-size: 40px;
    font-weight: 800;
    color: #395a5c;
}

.tex {
    padding: 30px 0px;
    font-size: 20px;
    color: #605b5b;
}

.list {
    font-size: 20px;
    color: #605b5b;
    list-style: none;
}

.inbtn {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    font-size: 24px;
    background-color: #1b524e63;
    margin: 18px 0px;
    border-radius: 50px;
    transition: .5s linear;
    box-shadow: 3px 5px 4px 2px #113d36b8;
}

.inbtn:hover {
    transform: scale(1.1);
}


/* wow div of website */

.wow {
    margin: auto;
    text-align: center;
    padding: 50px 50px;
    background: linear-gradient( rgb(59 115 97 / 57%), rgb(197 218 209 / 97%)), url(pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wowtex {
    color: white;
    padding: 20px 0px;
    font-size: 24px;
}


/* main2 start here */

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1vw 5vw;
    margin: 50px 0px;
}

.innermains2,
.innermain2s {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1vw;
}

.innermain2s {
    margin-top: 6vw;
}

.in {
    width: 75%;
}

.boxx,
.boxx1,
.boxx2 {
    position: relative;
    width: 280px;
    text-align: left;
    margin: 20px;
    display: inline-block;
    padding: 0px;
    z-index: 3;
    color: #5b5a58;
    background-color: #d2e3da;
    transition: .5s linear;
}

h3 {
    font-size: 30px;
    font-weight: 800;
}


/* for first box */

.imager {
    top: 4%;
    height: 335px;
    z-index: -1;
    left: 27%;
    position: absolute;
    transition: .5s linear;
}

.inboxx {
    width: 100%;
    background-color: #d3e3db;
    height: 100%;
    border: 11px solid #5b5a58;
    padding: 30px;
    border-radius: 20px;
}

.inboxx:hover {
    border: 11px solid #a09fd6;
    color: #a09fd6;
}

.boxx:hover .imager {
    top: 18px;
    left: -53%;
}


/* for secnd box */

.imager1 {
    width: 410px;
    top: 3%;
    z-index: -1;
    left: -27%;
    position: absolute;
    transition: .5s linear;
}

.inboxx1 {
    width: 100%;
    background-color: #d3e3db;
    height: 100%;
    border: 11px solid #5b5a58;
    padding: 30px;
    border-radius: 20px;
}

.boxx1:hover .imager1 {
    top: -40%;
    left: -27%;
}

.inboxx1:hover {
    border: 11px solid #293a53;
    color: #3d5271;
}


/* for third box */

.imager2 {
    height: 356px;
    width: 260px;
    top: 3%;
    z-index: -1;
    right: 14px;
    position: absolute;
    transition: .5s linear;
}

.inboxx2 {
    width: 100%;
    background-color: #d3e3db;
    height: 100%;
    border: 11px solid #5b5a58;
    padding: 38px;
    border-radius: 20px;
}

.boxx2:hover .imager2 {
    top: 1%;
    z-index: -1;
    transform: rotateZ(17deg);
    right: -127px;
}

.inboxx2:hover {
    border: 11px solid #293a53;
    color: #3d5271;
}


/* man3 start */

.main3 {
    background-color: #6c968d87;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
}

.inmain3 {
    margin: 20px;
    padding: 10px;
}

.texmain3 {
    padding: 30px 10px;
    font-size: 45px;
    color: white;
}

.intexter {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0px;
    border-radius: 70px;
    background-color: #fff;
    color: #23494b;
    transition: .5s linear;
}

.intexter:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 4px 2px #63827e;
}

.book {
    padding: 5px;
    margin: 30px 55px;
    text-align: center;
    background: linear-gradient( rgb(16 110 98), rgb(13 80 71 / 76%)), url(pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.bookin {
    margin: 20px;
    padding: 30px;
}

.intext {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.clr-15 {
    color: #fff;
    font-size: 24px;
    color: #fff;
    padding: 13px 0px;
}

.btn-3 {
    border: 3px solid #fff;
    border-radius: 55px;
    padding: 11px;
    font-size: 23px;
    background-color: #78787823;
    display: inline-block;
    margin: 15px;
    box-shadow: 5px 5px 13px 3px #151919;
    transition: .3s linear;
}

.btn-3:hover {
    transform: scale(1.1);
}


/* book div property */

.book {
    padding: 5px;
    margin: 70px 55px;
    text-align: center;
    transform: rotate(357deg);
    background: linear-gradient( rgb(16 110 98), rgb(13 80 71 / 76%)), url(overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: .5s linear;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px 5px #574b6594;
}

.book:hover .bookin {
    transform: rotate(0deg);
}

.bookin {
    transform: rotate(3deg);
    margin: 20px;
    padding: 30px;
    transition: .5s linear;
}

.intext {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.clr-15 {
    color: #fff;
    font-size: 24px;
    color: #fff;
    padding: 13px 0px;
}

.btn-3 {
    border: 3px solid #fff;
    border-radius: 55px;
    padding: 11px;
    font-size: 23px;
    background-color: #78787823;
    display: inline-block;
    margin: 15px;
    box-shadow: 5px 5px 13px 3px #151919;
    transition: .3s linear;
}

.btn-4 {
    border: 3px solid #175b55;
    border-radius: 55px;
    padding: 11px;
    font-size: 23px;
    background-color: #fff;
    display: inline-block;
    margin: 15px;
    box-shadow: 5px 5px 13px 3px #151919;
    transition: .3s linear;
}

.btn-4-color {
    color: #175b55;
}

.btn-3:hover,
.btn-4:hover {
    transform: scale(1.1);
}


/* for pricing part */

#pricing {
    padding: 20px 35px;
    text-align: center;
}

.inprice {
    padding: 30px;
}

.inprice1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.pricetext {
    color: rgb(35 73 75);
    font-size: 44px;
}

.plan {
    border-radius: 32px;
    overflow: hidden;
    margin: 10px;
    transition: .5s linear;
}

.plan:hover {
    box-shadow: 10px 10px 10px 10px grey;
}

.inplan {
    background-color: #23494bcf;
    padding: 20px;
    color: #fff;
}

.inplan2 {
    padding: 20px 0px;
    background: #527b6570;
}

.ru {
    font-size: 26px;
    font-weight: 800;
    padding: 10px 0px;
}

.buy {
    list-style-image: url(tick2.png);
    text-align: left;
    padding: 3px 45px;
}

.head {
    font-size: 25px;
    font-weight: 800;
}

.buynow {
    padding: 22px 40px;
    margin: 30px;
    background-color: #23494b;
    transition: .5s linear;
}

.buynow:hover {
    box-shadow: 3px 5px 8px 6px #3b413eb0;
}

.buyer {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 5px 0px;
}

.buybtn {
    margin: 34px;
}


/* for contact part */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.conttex {
    font-size: 43px;
    font-weight: 800;
    color: #23494b;
}

.contlist {
    font-size: 23px;
    font-weight: 800;
    color: #23494b;
    list-style: none;
}

.cont1 {
    width: 450px;
}

.call {
    transition: .5s linear;
    animation: up 2s linear infinite;
    filter: drop-shadow(0px 33px 26px #375c51ad);
}

@keyframes up {
    0% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(-8px);
    }
}


/* social icons */

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.icons {
    padding: 15px;
    border-radius: 500px;
    transition: .5s linear;
    background-color: #54976b36;
    margin: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.icons:hover {
    background-color: #cde0d4;
    color: #052e30;
    transform: translatey(-10px);
    animation: 1s animate linear;
}

@keyframes animate {
    0% {
        border: 2px solid rgba(255, 255, 255, 0);
    }
    25% {
        box-shadow: -20px 30px 50px 0 #03422f;
        border: 2px solid rgba(255, 255, 255, 0);
    }
    50% {
        border: 2px solid #fff;
    }
}


/* footer part start here  */

.footer {
    background-image: url(photo-1483728642387-6c3bdd6c93e5-removebg-preview.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-bottom: 5px;
    display: flex;
    padding-top: 152px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.area1 {
    margin: 20px;
    padding: 10px;
    width: 300px;
}

.foot_menu {
    list-style: none;
}

.quick {
    padding: 16px;
    font-size: 25px;
}

.heading {
    padding: 14px 0px;
}

.foot_cnt {
    font-family: system-ui;
    font-size: 17px;
    font-weight: 700;
}

.copy {
    font-size: 10px;
    text-align: center;
    background-color: #052e30;
    color: white;
    padding: 16px;
}


/* scrool to top */

.scroll {
    position: fixed;
    bottom: 3%;
    right: 1%;
    padding: 10px 4px;
    border-radius: 10px;
    background-color: #052e30;
    transition: .5s linear;
}

.scroll:hover {
    transform: scale(1.1);
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}